


body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#2b1055,#7597de);
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(19, 19, 19, 0.466);
}


header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style:none ;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover{
    background:#fff ;
    color: #2b1055;
}
form{
     border: 2px solid #5a0dd6;
     padding: 20px 30px;
     border-radius: 20px;
     box-shadow: 5px 4px 2px #763ecf;

}
#u{
    padding: 15px;
    color:#00b3ff;
    font-size: 20px;
    text-align: end;
}
input{
    background: transparent;
    border: #2b1055;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}
 input:placeholder-shown{
    font-size: 15px;
    color: aliceblue;
 }

#i{
    background: transparent;
    border: #2b1055;
    padding: 2px;
    color: #e9d0d097;
    font-size: 16px;

}

#i:hover{
    color: #fff;
}

/* #input:hover{
    background: white;

} */
/* button{
    background: transparent;
    border:1px solid #2b1055;
    border-radius: 20px;
    padding: 3px 9px;
    font-size: 17px ;
    margin-top: 11px;
    margin-left: 110px; 
}*/
span{
    font-size: 17px;
    color: rgba(88, 198, 78, 0.717);
}
/* button:hover{
    background-color: #fff;
    color: red;
} */

form table a{
    border: 2px solid rgb(173, 136, 136);
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 150px;

}
form table a:hover{
    color: red;
    background-color: #fff;

}